<div class="body">
    <div class="contenedor">
      <h1>Tablero</h1>
      <div class="equipos">
        <div class="equipo equipo1">
          <h2>Equipo 1</h2>
          <p class="puntuacion">{{ equipo1 }}</p>
        </div>
        <div class="equipo equipo2">
          <h2>Equipo 2</h2>
          <p class="puntuacion">{{ equipo2}}</p>
        </div>
      </div>
      <div class="temporizador">
        <app-tiempo 
   
        [estadoEquipo1]="estadoEquipo1"
        [estadoEquipo2]="estadoEquipo2"
        (datosTiempo)="datosTiempos($event)"></app-tiempo>
      </div>
    </div>
  <app-anotar [ocultarBotonB] = "ocultarBotonR" (equipoAnoto)="onEquipoAnoto($event)"></app-anotar>

  
</div>
