<div class="contadorConatainer ocultarContador">
  <p class="contador">contador</p>
</div>
<div class="temporizador">
    <p class="tiempo">{{timpoMostrado}}</p>
    
    <select class="selector-tiempo"
    (change)="seleccionarTiempo($event)">
    
      <option value="1:00">1:00</option>
      <option value="2:00">2:00</option>
      <option value="5:00">5:00</option>
      <option value="personalizado">Personalizado</option>
    </select>
    <p class="mensajeAlerta">{{mensajeAlerta}}</p>

  <button class="boton-comenzar" (click) ="iniciarContador()" >Comenzar partido</button>
    
</div>


